html {
    background-color: grey;
    width: 100%;

}

img {
    width: 100%;
}

h1 {
    text-align: center;
}

.bg{
    
}

.col-md-6 {
    border: solid
}

.container {
    background-color: grey;
    margin-top: 15%;
    margin-bottom: 42%;
    padding-top: 3%;
    padding-bottom: 3%;
}

p {
    text-align: center;
    line-height: 229%;
}



/* bootstrap class edits */
.jumbotron .container {
    max-width: 100%;
    position: absolute;
    top: 73%;
    background-color: floralwhite;
}

